<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Quick'n dirty Dictionary</title>
        <link href="./main.css" rel="stylesheet" />
        <script src="./js/angular-1.5.0/angular.js"></script>
    </head>
    <body>
        <input type="checkbox" id="drawer-toggle" name="drawer-taggle" />
        <label for="drawer-toggle" id="drawer-toggle-label"></label>
        <header>Header</header>
        <nav id="drawer" ng-app="myApp" ng-controller="myCtrl">
            <ul>
                <li><input type="text" data-ng-model="cerca" /></li>
                <li><span data-ng-bind="cerca"></span></li>
                <li data-ng-repeat="item in items | filter : cerca | orderBy: 'key'" data-key-id="{{item.id}}" data-key-value="{{item.key}}"><a href="#">{{item.key}}</a></li>
            </ul>
        </nav>
        <div id="page-content" ng-app="" ng-init="content='contenuto pagina'">
            <p ng-bind="content"></p>
        </div>

        <script>
            var app = angular.module('myApp', []);
            app.controller('myCtrl', function($scope, $http, $location){
                $http.get('lang/testlanglist.json').then(function(response){
                    $scope.items = response.data;
                    console.log(response.data);
                    console.log(arguments);
                });
                $a = function(art){return;};
                (function(arg){
                    console.log(arguments);
                    console.log(arg);
                })($a);
                console.log($a);
                console.log($location);
            });
        </script>
    </bodi>
</html>
